

@{
    ViewBag.Title = "Admin";

}
@if (ViewBag.msg.Equals("admin"))
{
    if (ViewBag.adm.Equals("m"))
    {
        <section>
            <ul>
                <li>

                    @Html.ActionLink("Admin Related Operations", "Index", "Admins")
                </li>
                <li>
                    @Html.ActionLink("Assignee Related Operations", "Index", "Assignees")
                </li>
                <li>
                    @Html.ActionLink("User Related Operations", "Index", "Users")
                </li>
            </ul>
        </section>
    }
}