
@model BugTracker.Models.Credentials
@{
    ViewBag.Title = "Login";

}
    
        <div class="row top-buffer">
            <h3 class="display-4">Login</h3>
        </div>
        <div class="row top-buffer">
            @using (Html.BeginForm("Verify", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "email@example.com" })
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "exampleInputPassword1", @placeholder = "Password" })
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </div>